   body{
    background-color: #000000; /* Цвет фона веб-страницы */
   }  
   .content {
    color: #59b300; /* Цвет символа */

   } 
   .contentname {
    color: #ffa31a; /* Цвет символа */

   } 
   .table-head{
    color: #8a00e6; /* Цвет символа */

   } 