   body{
    background-color: #282a36; /* Цвет фона веб-страницы */
   }  

   A {  color: #42dcf4; }

   .content {
    color: #59b300; /* Цвет символа */

   } 
   .code {
    color: #dadee5; /* Цвет символа */

   } 
   .contentname {
    color: #ffa31a; /* Цвет символа */

   } 
   .table-head{
    color: #8a00e6; /* Цвет символа */

   } 
	.codeclass {
    color: #a2b726; /* Цвет символа */

   } 
   	.codeobject {
    color: #e82451; /* Цвет символа */

   } 
   	.codecomment {
    color: #303030; /* Цвет символа */

   } 
   .codemethod {
    color: #e6e600; /* Цвет символа */

   } 
   .codetext {
    color: #d1ad50; /* Цвет символа */

   }
   .codeoperator {
    color: #4dd2ff; /* Цвет символа */

   }
    .codenumber {
    color: #546bf8; /* Цвет символа */

   }

